* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    background-color: #fdf0d5
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Palette Mosaic', cursive;
}

img {
    width: 100px;
}

input[type="text"] {
    margin-top: 40px;
    height: 5rem;
    width: 20rem;
    padding: 10px;
    font-size: 1.8rem;
    text-align: center;
    outline: none;
    border-radius: 14px;
    border: 1px solid rgb(151, 148, 148);
}

.your-decimal {
    margin-top: 20px;
    font-size: 1.3rem;
}

.error-notif {
    margin-top: 20px;
    color: rgba(206, 32, 32, 0.822);
    font-weight: bold;
    display: none;
    font-size: 3rem;
}

span {
    margin-top: 20px;
    font-size: 5rem;
}